@model IEnumerable<SpotzWeb.Models.ApplicationUser>

@{
    ViewBag.Title = "About";
}

<div class="row">
    <div class="col-md-12">
        <h2>@ViewBag.Title.</h2>
        

        <p>Spotz is a social site for sharing exciting places and spots, "Spotz", with your friends.</p>

    </div>
</div>
